
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700|Fullmak:400,300);
 @import "bootstrap-sprockets";
 @import "bootstrap";

 /* Mixins, variables, etc... */

 @mixin nav_link_hover {
 	transition: 0.4s;
 	color: darken(#222, 50%);
 	text-decoration: underline;
 }

 /* styles (Universal) */

 body {
 	font-family: 'Fullamak', Georgia;
 }

 a {
 	color: darken(#f2f4f7, 90%);
 }

 /* Navbar and navigation styles */

 .navbar {
 	font-family: 'Budhayanti Script', sans-serif;
 	text-transform: uppercase;
 }

 .navbar-default {

 	padding-top: 5px;
 	padding-bottom: 5px;
 	background-color: #fff;

 	.navbar-nav > li > a {
 		color: #222;
 	}

 	.navbar-link {
 		color: #222;
 	}
}

/* Item styles.scss/styling */
.item {
	border-bottom: 1px solid #e7e7e7;
	padding-bottom: 1.5em;
	.item-title {
		font-family: 'Budhayanti Script', sans-serif;
		margin-top: 0;
	}
	.item-desc {
		font-size: 2em;
	}
	.time-ago {
		color: darken(#e7e7e7, 50%);
		font-size: 1.95em;
		letter-spacing: 1.25;
	}
	.item-sub-title {
		margin-bottom: 0;
	}
}
